body {
    background-color: #efefef;
}

.lightblue {
    background-color: lightblue;
}

.wrapper {
    border-radius: 20px;
}

.wrapper .graph-wrapper {
    box-shadow: 0px 0px 10px black;
    background-color: black;
    border-radius: 5px;
    overflow: hidden;
}

.wrapper .ctrl-wrapper .generate-wrapper {
    background-color: lightgoldenrodyellow;
    border-radius: 10px;
    box-shadow: 0px 0px 5px black;
}

.wrapper .ctrl-wrapper .solve-wrapper {
    background-color: lightgoldenrodyellow;
    border-radius: 10px;
    box-shadow: 0px 0px 5px black;
}

.wrapper .ctrl-wrapper .ctrl-box .ctrl-item {
    box-shadow: 0px 0px 5px black;
}