.header {
    font-size: 44px;
    letter-spacing: 5px;
}

.day {
    position: relative;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.day .elapse {
    font-weight: 900;
}

.day .time {
    font-size: 152px;
}

.day .unit {
    font-size: 100px;
}

.day .origin {
    margin-top: 20px;
    font-size: 24px;
}

.name {
    font-size: 82px;
}

.footer {
    font-size: 22px;
    text-align: center;
    padding-top: 5px;
}